.signing-input-section{
  padding-right: 32px;

  &-header{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &_isMobile{
    display: flex;
    flex-direction: column;
    padding-right: 0;
    gap: 32px;
  }

  &-block {
    position: relative;

    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 8px;
    gap: 16px;

    &_isMobile{
      flex-direction: column;
      margin-top: 0;
    }

    .app-button{
      width: 100%;
    }
  }

}
