.download-modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &-mobile-store{
    &-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-top: 40px;
      gap: 12px;
    }

    &-image{
      cursor: pointer;
      height: 42px;
      object-fit: contain;
    }
  }

  &-buttons-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 12px;
  }
}
